body {
    background: url("https://static-secure.guim.co.uk/sys-images/Guardian/About/General/2015/2/17/1424176426858/Homes-houseplants-009.jpg");
    height: 100%;
}

#container1 {
    width:80%;
    border: 3px solid #73AD21;
    margin:auto;
    -webkit-box-shadow: 13px 16px 40px -1px rgba(0,0,0,0.69);
    -moz-box-shadow: 13px 16px 40px -1px rgba(0,0,0,0.69);
    box-shadow: 13px 16px 40px -1px rgba(0,0,0,0.69);
    font-family:"Century Schoolbook L";
    font-size:large;
}

#container2 {
    width:80%;
    margin:auto;
    background: #FFF;
}
